language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"

  - "3.5.0b3"
  - "3.5-dev"
  - "nightly"

matrix:
  allow_failures:
    - python: "3.5.0b3"
    - python: "3.5-dev"
    - python: "nightly"

install: "pip install ipython"

script: py.test

sudo: false
